<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (userFullName) { %>
      <h2>Hello <%=userFullName%></h2>
      <a href="/signout">Log Out </a>
    <% } else { %>
      <a href="/signin">Log In </a>
      <br>
      <a href="/signup">Sign Up </a>
    <% } %>
    <br>
    <img src="img/logo.png" alt="Logo" />
    <script typ ="text/javascript" src="../bower_components/angular/angular.min.js"> </script>
  </body>
</html>