<!DOCTYPE HTML>
<html>
<head>
   <title><%=title %></title>
</head>
<body>
  <div>
    <h1>Login</h1>
    <%for(var i in messages) { %> 
       <div class ="flash" > <%= messages[i] %> </div> 
    <% } %> 
    <form action ="/signin" method ="post" > 
    <div> 
      <label> Username: </label> 
      <input type ="text" name ="username" /> 
    </div> 
    <div> 
      <label> Password: </label > 
      <input type ="password" name ="password" /> 
    </div > 
    <div > 
    <input type ="submit" value ="Sign In" /> 
    </div > 
  </form >

    <a href="/oauth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
  </div>
</body>
</html>   